header, nav, main {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header a {
        margin-right: 0;
}


/*----------- NAVIGATION --------------*/




/*----------- MAIN --------------*/



/*----------- FORM --------------*/



/*----------- FOOTER --------------*/
    
