header, nav, main, #infoFooter {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
        padding: .5rem 0;
}
header a {
        margin-right: 0;
}


/*----------- NAVIGATION --------------*/
nav {
        position: relative;
}
.searchBar {
        margin-right: 0;
}



/*----------- MAIN --------------*/
/*----------- Home Page --------------*/
.blogHeader {
        margin: 2rem 1rem 0 0;
}
#blogDiv {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 14px;
	font-size: 1rem;
        margin: 1rem 0 3rem 0;
}
.blogArticle {
	width: 290px;
	height: 290px;
}
.roomArticle {
	margin-top: 0;
}

#infoFooter {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 0;
}
.column2 {
        width: 92.5%;
}
.column3 {
        grid-column: 3;
}

/*----------- Cruises Page --------------*/



/*----------- FORM --------------*/



/*----------- FOOTER --------------*/
    
