


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header h1 {
    font-size: 3rem;
}
header a {
	display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 .5rem .5rem 0;
    text-decoration: none;
}


/*----------- NAVIGATION --------------*/
nav {
	background-color:$menuColor;

// add space to the left to match the other left side elements DESIGN: Alignment
    ul {
        margin: 0; 
        padding: 0;
    }
//Change to a horizontal menu bar
	ul>li {
        float: left; 
        list-style: none; 
    }    
//style the anchors
	ul li a { 
		display: block;
		background: none;
		font-size: .9em;
		padding: .9em .9em;
		color: $menuTextColor;
		text-decoration: none;
		/*transition to transition over time on hover*/
		-webkit-transition: background 0.3s linear; 
		transition: background 0.3s linear;
	}
    
// on mouse hovber darken the menu item
	ul li a:hover {background: darken($menuColor,15%);}
	
// .parent class indicates dropdown by adding a down arrow to the parent list item 
	#primaryNav li.parent > a::after {
        font-size: .75rem;
		content: "\25BC";
		color: rgb(255,255,255);
	}
    
//rules for the sub menu items
	ul li ul {
		z-index:998;
		position: absolute;
		background-color: darken($menuColor, 3%);
		left: -999em; /* pushes the menu way off to the side */
		width: 12em; //width of the sub menu items when the drop down
	}
 	ul li ul li { /* overides the float and line from the parent ul */
        width: 100%;
        border: none;
		border-top: solid 1px rgba(0,0,0,0.2); /* vertical line seperating sub menu items*/
	}

// this displays the menus as drop downs
 	ul li:hover ul { 
		left: auto;
		margin-left: 0;
	}
	
// darkens the anchor of the current-menu-item 
	li.current-menu-item a{background-color: rgba(0,0,0,0.25);}
}

.searchBar {
	position: absolute;
	right: 0;
	margin-right: 0;
	max-width: 250px;
	width: 180px;
}


/*----------- MAIN --------------*/
// Blog Article Styles
#blogDiv {
	grid-template-columns: 1fr 1fr 1fr;
	font-size: .9rem;
	margin-right: 0;
}
.blogArticle {
	width: 31vw;
	height: 31vw;
}
.roomArticle {
	margin-top: 10px;
}

// Info Footer Styles
#infoFooter {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.column2 {
	width: 80%;
}
.column3 {
	grid-column: 1 / span 2;
}

// Social Bar Styles
#socialBar i {
	padding: 0 1rem;
}

/*----------- FOOTER --------------*/
    
