/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Poppins', Verdana, sans-serif;
}


/*----------- HEADER --------------*/
.headerWrapper {
    width: 100%;
    background-color: $primary-blue;
}
header {
    padding: .5rem 2%;
    position: relative;
}
header figure {
    margin: 0;
}
header img {
    float: left;
    height: 75px;
}
header a {
    display: none;
}


/*----------- NAVIGATION --------------*/
.navWrapper {
    position: relative;
    width: 100%;
    background-color: $secondary-blue;
}
nav ul li.active a {
    text-decoration: underline;
}
.searchBar {
    max-width: 175px;
    max-height: 35px;
    position: absolute;
    top: .5rem;
    right: .5rem;
    float: right;
    background-color: #fff;
    border: none;
}
.searchBar input {
    border: none;
    padding: 4px 0 4px 4px;
}
.searchBar button {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 35px;
    float: right;
    border: none;
    padding: 4px 7.5px;
    margin-right: 0;
    background-color: $primary-blue;
    color: #fff;
    cursor: pointer;
}
.searchBar button:hover {
    background-color: lighten($primary-blue, 10%);
    transition: background 0.3s linear;
}


/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
    z-index: 1;
}
main h1 {
    font-weight: $normal-font;
    z-index: 1;
}


/*----------- FOOTER --------------*/
footer {
    background-color: $primary-blue;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}
footer a {
    color: #fff;
}
footer a:visited {
    color: #fff;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}