$primary-blue: #23559b;
$secondary-blue: #4ca1cf;

$light-font: 100;
$normal-font: 400;
$semibold-font: 600;

//these two variables control the background color and text color for nav
$menuColor: #4ca1cf;
$menuTextColor: rgba(255,255,255,0.9);